<div class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-around">
<span>
<%=link_to  'Home', root_path%>
|
<%=link_to  'About', about_path%>
|
<%=link_to  'New', new_product_path%>
|
<%=link_to  'Index', products_path%>
</span>
</div>